@font-face {
  font-family: "iconfont"; /* project id 626213 */
  src: url("https://at.alicdn.com/t/font_626213_37al3xveh8gaxlxr.eot");
  src: url("https://at.alicdn.com/t/font_626213_37al3xveh8gaxlxr.eot?#iefix")
      format("embedded-opentype"),
    url("https://at.alicdn.com/t/font_626213_37al3xveh8gaxlxr.woff") format("woff"),
    url("https://at.alicdn.com/t/font_626213_37al3xveh8gaxlxr.ttf") format("truetype"),
    url("https://at.alicdn.com/t/font_626213_37al3xveh8gaxlxr.svg#iconfont")
      format("svg");
}
